header {
    position: absolute;
    width: 100%;
    height: 85vh;
    min-height: 665px;
    background: linear-gradient(65deg, $indigo 80%, $light-indigo);

    .shapes {
        width: 428px;
        @include background(transparent, 'shapes.png', no-repeat, center, cover)
        max-width: 100%;
        height: 482px;
        position: absolute;
        left: 0px;
        bottom: 85px;
        opacity: 0.2;             
    }
}

#info-card {
    width: 100%;
    height: 65vh;
    min-height: 555px;
    color: white;
    padding-top: 120px;
    font-family: "Quicksand", sans-serif;
    @include animation(0.8s fadeIn);

    h1 {
        font-weight: bold;
        margin-top: 25px;
    }

    h4 {
        font-size: 1.25rem;
        letter-spacing: 3px;

        small {
            opacity: 0.6;
            letter-spacing: 1.2px;
        }
    }

    .profile-image {
        width: 125px;
        box-shadow: 0px 0px 25px $black;
    }

    .social-media {
        .list-inline-item {
            @include transition(all .25s ease-in-out);

            &:not(:last-child) {
                margin-right: 1.3rem;
            }

            &:hover {
                opacity: 0.5;
            }

            .acosh {
                width: 29px;
                margin-top: -17px;
            }    
        }
    }   
}

.close-line {
    width: 15%;
    border-top: 4px solid $dark-indigo;
    margin: 0px auto;
}

@media screen and (max-width: 768px) {
    header {
        .shapes {
            opacity: 0.1;
        }
    }
}
